@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
    --primaryColor : #0b57fc;
    --mainBlack: #222;
    --mainWhite: #fff;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato" ,sans-serif;
    background: linear-gradient(to right,rgb(252,251,249), rgb(196,194,190))
}

.header {
    text-align: left;
    margin-bottom: 0;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev, .next {
    width: 95px;
    height: 8vh;
    margin-top: 1.5vh;
    margin-left: 20px;
    background:linear-gradient(to right, rgb(3, 3, 94), rgb(16, 191, 235));;
}

.next {

}


#filter, #sort {
    background: linear-gradient(to right,rgb(148,143,143), rgb(241,233,233));
    color: rgb(17,17,17);
    width: 12vw;
    height: 5vh;
    margin-top: 4vh;
    margin-left: 5vw;
    border: 1px solid rgb(5,4,4);
}

.typeahead {
    width: 52vw;
    height: 45px;
    margin-right: 20px;
    box-shadow: 0px 1px 5px 1px rgb(10,10,10);
}

.restaurant {
    box-shadow: 0px 1px 10px 1px #000;
  }

.restaurants-center {
    width: 90vw;
    margin: 10px auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}

.img-container {
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
     display: block;
     max-height: 12rem;
}

.res-content {
    background: #ececec;
    padding: 20px;
}

.myForm {
    margin-top: 20px;
    text-align:center;
}

.header {
    background: black;
    color: white;
    height: 50px;
    text-align: center;
}

h2 {
    padding-top: 8px;
}
